*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
    color: black;
}

html{
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url('../images/so-white.png');
    scroll-behavior: smooth;
}


header{
    display: flex;
    position: relative;
    background: #0c0c0c;
    height: 100vh;
    padding: 0 1rem;
}

#main_background_video{
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}

nav{
    z-index: 5;
    display: flex;
    position: fixed;
    width: 100%;
    padding: 0.5rem 0;
    right: 0;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
}

nav > li {
    padding: 1rem 1.5rem;
    font-size: 18px;
    list-style-type: none;
    text-align: center;
}

nav > li > a{
    color: white;
    text-decoration: none;
}

nav > li > a:hover{
    color: lightsalmon;
}

header > h2.sentence{
    background: transparent;
    color: floralwhite;
    font-size: 24px;
    z-index: 3;
    position: absolute;
    bottom: 0;
    margin-bottom: 6rem;
    right: 0;
    padding: 1rem;
    font-style: italic;
}

header > p.sentence{
    background: transparent;
    color: floralwhite;
    font-size: 20px;
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 4rem;
    padding: 1rem;
    font-style: italic;
}

@media only screen and (max-width: 965px){
    header > h2.sentence{
        margin-bottom: 5rem;
    }
   
}

@media only screen and (max-width: 851px){
    header > h2.sentence{
        margin-bottom: 8rem;
    }
   
}

@media only screen and (max-width: 452px){
    header > p.sentence{
        margin-bottom: 1.5rem;
    }
   
}

section{
    padding: 5rem;
    height: 100vh;

}

@media only screen and (max-width: 785px){
    section{
        padding: 3rem;
    }
}


#whoami{
    display: flex;
}

@media only screen and (max-width: 785px){
    #whoami{
        display: block;
    }
    #whoami img{
        padding: 0 !important;
        padding-top: 1rem !important;
    }
}

#whoami-context,
#whoami-picture{
    align-self: center;
    font-size: 16px;
}

#whoami h2{
    padding-bottom: 0.5rem;
}


#whoami img{
    width: 170px;
    height: 170px;
    padding: 1rem;
}

/* Make opacity background*/
#porftolio{
    background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url('../images/portfolio-background.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}


#porftolio > ul{
    z-index: 3;
}

#porftolio > h2{
    padding-bottom: 0.5rem;
    font-size: 30px;
    font-weight: bold;
    margin-top: 8rem;
}

#lightSlider > li > a{
    text-decoration: none;
}

#lightSlider > li > a > img{
    width: 100%;
}

@media only screen and (max-width: 800px){
    section{
        height: 50%;
    }
}

#contact-content{
    display: flex;
    align-self: center;
    align-items: center;
}

@media only screen and (max-width: 1000px){
    #contact-content{
        display: block;
    }
    #email-form{
        padding: 1rem 0 !important;
    }

}

.success-message{
    display: block;
    position: static;
    background-color: darkgreen;
    padding: 2rem;
    margin-bottom: 1rem;
}

.success-message h3{
    letter-spacing: 1px;
    color: floralwhite;
}

#email-form{
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

#email-form textarea{
    resize: none;
}
#email-form 
input[type=text],
#email-form 
input[type=email], 
#email-form textarea{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
  }

#email-form 
input[type=text]:focus,
#email-form 
input[type=email], 
#email-form textarea:focus{
    outline: none !important;
    border: 2px solid salmon;
    box-shadow: 0 0 10px #719ECE;
}

#email-form button{
    padding: 12px 20px;
    margin: 8px 0;
    background-color: salmon;
    outline: none !important;
    border: 1px solid #ccc;
    color: white;
    font-size: 1rem;
}

#email-form button:hover{
    opacity: 0.8;
    cursor: pointer;
}

#contact-describe{
    display: flex;
    flex-direction: column;
    align-self: self-start;
    margin-top: 5rem;
    gap: 12px
}

footer{
    background-color: black;
    opacity: 0.8;
    text-align: center;
    padding: 2rem;
}

footer p,
footer p a{
    color: floralwhite;
}

/* Show load message bedore all page is loaded START */
/* header,
main,
footer{
    display: none;
}
.preload { width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
} */
/* Show load message bedore all page is loaded KONIEC */